.app-layout {
  background-color: #f0f2f8;
  min-height: 100vh;
}
.app-container {
  background: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  min-height: 300px;
  margin: auto 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header {
  min-height: 100px;
}
